.ChatSection {
    .ChatInner {
        margin: 0 auto;
        max-width: 600px;
        padding: 50px 0;
        // display: flex;
        // justify-content: center;
        // flex-direction: column;
        // height: 100vh;

        .BtnEnd {
            display: flex;
            justify-content: end;
            align-items: center;

            .Btn {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 45px;
                height: 45px;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                transition-duration: .3s;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
                background-color: #8C00FF;
                box-shadow: 0px 0px 60px #8C00FF;
                outline: 1px solid #B13BFF;
            }

            .sign {
                width: 100%;
                transition-duration: .3s;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .sign svg {
                width: 17px;
            }

            .sign svg path {
                fill: white;
            }

            .text {
                position: absolute;
                right: 0%;
                width: 0%;
                opacity: 0;
                color: white;
                font-size: 1.2em;
                font-weight: 600;
                transition-duration: .3s;
            }

            .Btn:hover .sign svg {
                margin-right: 20px;
            }

            .Btn:hover {
                width: 125px;
                border-radius: 40px;
                transition-duration: .3s;
            }

            .Btn:hover .sign {
                width: 30%;
                transition-duration: .3s;
                padding-left: 20px;
            }

            .Btn:hover .text {
                opacity: 1;
                width: 70%;
                transition-duration: .3s;
                padding-right: 10px;
            }

            .Btn:active {
                transform: translate(2px, 2px);
            }
        }

        .Chat {
            border: 1px solid #8C00FF;
            min-height: 300px;
            border-radius: 12px;
            padding: 16px;
            overflow-x: hidden;
            overflow-y: scroll;
            height: 300px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &::-webkit-scrollbar {
                width: 0;
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }

            &::-webkit-scrollbar-thumb {
                background: #888;
            }

        }

        .ChatHead2 {
            color: #FFFFFF;
            text-transform: capitalize;
            font-size: 22px;
            margin-bottom: 0;
            line-height: 2;
        }

        .Flexed1 {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: end;

            .MessageText {
                position: relative;

                &::before {
                    content: '';
                    height: 10px;
                    background-color: #ccc;
                    position: absolute;
                    width: 10px;
                    right: -4px;
                    top: 50%;
                    transform: rotate(45deg);
                }
            }
        }

        .Flexed2 {
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: start;

            .UserRnd {
                order: 1;
            }

            .MessageText {
                order: 2;
                position: relative;

                &::before {
                    content: '';
                    height: 10px;
                    background-color: #ccc;
                    position: absolute;
                    width: 10px;
                    left: -4px;
                    top: 50%;
                    transform: rotate(45deg);
                }
            }

            ul {
                padding: 0 0 0 20px;
                margin: 0;

                li {
                    list-style: none;
                }

                .MessageText {
                    margin: 15px 0;
                    cursor: pointer;

                    &::before {
                        display: none;
                    }
                }
            }
        }

        .Flexed1,
        .Flexed2 {
            margin: 10px 0;

            .MessageText {
                color: #000;
                background-color: #ccc;
                padding: 6px 12px;
                border-radius: 8px;
                border-bottom: 6px solid #8C00FF;
                width: fit-content;
            }
        }

        .SendMessage {
            width: 80%;
            padding: 10px;
            border: 1px solid #8C00FF;
            border-radius: 0;
            outline: none;
            font-size: 1em;
            color: #FFFFFF;
            background-color: #161616;
            border-right: 0;
        }

        .SendBtn {
            width: 20%;
            border: none;
            background-color: #8C00FF;
            color: white;
            font-size: 1em;
            cursor: pointer;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            transition-duration: .3s;
            height: 100%;
            padding: 11px;
        }

        .Flexed {
            display: flex;
            align-items: center;
            position: relative;
        }
    }
}