#form {
  display: grid;
  place-items: center;
  width: 350px;
  height: 470px;
  padding: 25px;
  background-color: #161616;
  box-shadow: 0px 15px 60px #8C00FF;
  outline: 1px solid #B13BFF;
  border-radius: 10px;
}

#form #form-body {
    width: 100%;
}

#welcome-lines {
  text-align: center;
  line-height: 1;
}

.FormCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.Login {
  background-color: #161616;
  height: 100vh;
  width: 100%;
}

#welcome-line-1 {
  color: #8C00FF;
  font-weight: 600;
  font-size: 40px;
}


#input-area {
  margin-top: 40px;
}

.form-inp {
  padding: 10px 32px 10px 13px;
  background: transparent;
  border: 1px solid #e3e3e3;
  line-height: 1;
  border-radius: 8px;
  width: -webkit-fill-available;
}

.form-inp:focus {
  border: 1px solid #8C00FF;
}

.form-inp:first-child {
  margin-bottom: 15px;
}

.form-inp input {
  width: 100%;
  background: none;
  font-size: 14px;
  color: #8C00FF;
  border: none;
  padding: 6px 10px;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #8C00FF inset !important; /* Match your background */
  -webkit-text-fill-color: #fff !important; /* Keep your purple text color */
  transition: background-color 5000s ease-in-out 0s;
}


.form-inp input:focus {
  outline: none;
}

#submit-button-cvr {
  margin-top: 20px;
}

#submit-button {
  display: block;
  width: 100%;
  color: #8C00FF;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  padding: 14px 13px 12px 13px;
  border: 0;
  outline: 1px solid #8C00FF;
  border-radius: 8px;
  line-height: 1;
  cursor: pointer;
  transition: all ease-in-out .3s;
}

#submit-button:hover {
  transition: all ease-in-out .3s;
  background-color: #8C00FF;
  color: #fff;
  cursor: pointer;
}

#forgot-pass {
  text-align: center;
  margin-top: 10px;
}

#forgot-pass a {
  color: #868686;
  font-size: 12px;
  text-decoration: none;
}


    